* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: sans-serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}
i {
    font-size: 150px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
